@import url(' https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css');

.btn-primary {
  background-color: lightblue;
}
.btn-group-lg>.btn, .btn-lg{
  border-radius: 5px;
  border: 0px solid transparent;
}
.col-md-4 {
 background-color: lightblue;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
  background-color: lightblue;
}
header img{
  max-width: 100%;
  max-height: 100%;
}
header a {
  background-color: lightblue;
  color: #333;
  padding: 20px;

}
footer {
  padding: 25px 10%;
  margin-top: 20px;
  text-align: center;
}
footer nav {
  border-top: 2px solid ;
}
footer a {
  color: hsl(0, 1.1%, 18.2%);
  text-decoration: none;
}
footer a:hover {
  color: hsl(189, 42%, 58%);

}
nav {
  display: flex;
  justify-content: center;
  align-items: stretch;

}
nav li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
