.btn-primary {
  background-color: lightblue;
}
.btn-group-lg>.btn, .btn-lg{
  border-radius: 5px;
  border: 0px solid transparent;
}
.col-md-4 {
 background-color: lightblue;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
  background-color: lightblue;
}
img{
  max-width: 100%;
  max-height: 100%;
}
a {
  background-color: lightblue;
  color: #333;
  padding: 7px;

}
footer {
  padding: 20px;
}
